.pointer {
    cursor: pointer;
  }


.jumbotron {
  padding: 70px 30px 70px 30px;
  margin: 38px auto 0px;
  background: rgb(0, 175, 250);
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}