.pointer {
    cursor: pointer;
  }
  
.ant-modal-footer {
    display: none;
}

.jumbotron {
  padding: 70px 30px 70px 30px;
  margin: 38px auto 0px;
  background: dimgray;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}